.breadCrumbs_container__HFpVU {
    margin-top: 10px
}

.breadCrumbs_container__HFpVU a {
    text-decoration: none
}

.breadCrumbs_title__Cjv1G {
    font-size: 10px;
    color: #4e3bc9;
    line-height: 24px
}

.breadCrumbs_icon__iuulO {
    font-size: 12px;
    color: #777585
}

.bannerAttribute_icon__EE2OD {
    width: 40.5px;
    height: 40.5px
}

.bannerAttribute_attributeText__TWKoZ {
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.44px
}

.bannerAttribute_attributeSubText__YUDDR {
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px
}

.bannerAttribute_iconBox__APyYk {
    background: hsla(0, 0%, 100%, .1);
    border-radius: 4px;
    color: #fff;
    width: 64px;
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px
}

.bannerAttribute_box__1CyqJ {
    display: flex;
    flex-direction: column;
    top: 10px;
    position: relative;
    overflow: auto
}

@media (max-width:960px) {
    .bannerAttribute_icon__EE2OD {
        width: 24px;
        height: 24px
    }

    .bannerAttribute_attributeText__TWKoZ {
        font-size: 13px;
        line-height: 18.96px
    }

    .bannerAttribute_attributeSubText__YUDDR {
        font-size: 10px;
        line-height: 20px
    }

    .bannerAttribute_iconBox__APyYk {
        width: 32px;
        height: 32px
    }

    .bannerAttribute_grid__xFLEM {
        justify-content: end
    }
}

.attributes_attribute__XJonb {
    display: flex
}

.attributes_attributeBox__PBzkl {
    display: flex;
    padding: 5px;
    margin: 10px 0
}

.attributes_title__P1cAL {
    color: #545454;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px
}

.attributes_gradientDiv__Cs6VA {
    width: 4px;
    height: 50px;
    background: linear-gradient(180deg, rgba(87, 185, 127, 0), #57b97f 49.94%, rgba(87, 185, 127, 0));
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0px
}

@media (max-width:960px) {
    .attributes_title__P1cAL {
        font-size: 10px;
        line-height: 20px
    }

    .attributes_gradientDiv__Cs6VA {
        height: 40px
    }

    .attributes_subTitle__cnL_1 {
        font-size: 14px;
        line-height: 16.59px
    }
}

.carouselController_leftArrow__A12Zg {
    left: 0;
    transform: translate-y(-50%)
}

.carouselController_leftArrow__A12Zg,
.carouselController_rightArrow__XmUnl {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    cursor: pointer
}

.carouselController_rightArrow__XmUnl {
    right: -20px;
    transform: translateY(-50%)
}

.carouselController_mediaOptionLeftArrow__pNaTd {
    left: 5px;
    top: 40%;
    transform: translate-y(-50%)
}

.carouselController_mediaOptionLeftArrow__pNaTd,
.carouselController_mediaOptionRightArrow__rfn7U {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 32px;
    cursor: pointer
}

.carouselController_mediaOptionRightArrow__rfn7U {
    right: 5px;
    top: 50%;
    transform: translateY(-50%)
}

.carouselController_carouselContainer__VaXr4 {
    width: 100%;
    display: flex;
    flex-direction: column
}

.carouselController_carouselWrapper__226mX {
    display: flex;
    width: 99.5%;
    position: relative
}

.carouselController_carouselContentWrapper__uzY0x {
    overflow: hidden;
    width: 100%;
    height: 100%
}

.carouselController_carouselContentWrapper__uzY0x::-webkit-scrollbar {
    display: none
}

@media (max-width:960px) {
    .carouselController_carouselContentWrapper__uzY0x {
        overflow: scroll
    }

    .carouselController_leftArrow__A12Zg {
        display: none
    }

    .carouselController_rightArrow__XmUnl {
        right: -10px;
        display: none
    }
}

@media (min-width:961px) {
    .carouselController_leftArrow__A12Zg {
        left: -20px
    }
}

.responsiveImage_imgBlock__GCNhr {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative
}

.responsiveImage_imgBlock__GCNhr img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    z-index: 1
}

.responsiveImage_blur__7yBKd {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    filter: blur(3px)
}

.responsiveImage_overlay__EsH8u {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .25)
}

.thumbnails_artworkContainer__dIprW {
    height: 109px;
    width: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}

.thumbnails_slideItem__S2C5F {
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    margin: 0 auto
}

.thumbnails_artworkType__cCoxz {
    font-size: 60px
}

.thumbnails_playIcon__oG3GD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70
}

.thumbnails_thumbNailContainer__ueWf1 {
    height: 109px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.thumbnails_overlayContainer__sLHTw {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    bottom: 0
}

.referenceArtworks_artworkContainer__xyWe9 {
    position: absolute;
    animation: referenceArtworks_slide__dBPcz .5s forwards;
    animation-delay: 2s;
    height: 100%;
    width: 100%;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain
}

.referenceArtworks_youtubeThumb__eL_KY {
    font-size: 60px;
    color: #fff
}

.referenceArtworks_youtubeThumb__eL_KY:hover {
    cursor: pointer;
    color: red
}

.referenceArtworks_radioButton__SjZUT {
    font-size: 48px;
    position: absolute;
    top: 40%;
    left: 40%;
    border-color: #f50;
    color: #f50;
    background-color: #fff;
    border-radius: 50%
}

.referenceArtworks_radioButton__SjZUT:hover {
    color: #f30;
    border-color: #f30;
    background-color: #fff;
    border-radius: 50%
}

@media (max-width:768px) {
    .referenceArtworks_artworkContainer__xyWe9 {
        width: 100%
    }
}

.slider_adSlide__oS6sM {
    position: relative;
    border: 1px solid #d2d1d6;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.slider_adSlider__EJh0T {
    white-space: nowrap;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 95%;
    width: 90%
}

.slider_navigationContainer__Sqsz6 {
    z-index: 999;
    box-shadow: rgba(0, 0, 0, .25);
    height: 32px;
    width: 32px;
    position: absolute;
    border-radius: 25;
    align-items: center
}

.slider_dotsBlock__JOueY,
.slider_navigationContainer__Sqsz6 {
    display: flex;
    justify-content: center
}

.slider_active__2tE4Q {
    display: inline-block
}

.slider_active__2tE4Q,
.slider_inactive__DwJHL {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0;
    border-width: 1px;
    border-style: solid
}

.slider_inactive__DwJHL {
    display: "inline-block"
}

.slider_arrow__APCTm {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer
}

.slider_mediaPageSlide__zu6Ri {
    position: relative;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.slider_mediaPageSlider__ccF7M {
    white-space: nowrap;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%
}

.slider_mediaPageSlider__ccF7M img {
    -o-object-fit: contain;
    object-fit: contain
}

@media (max-width:960px) {
    .slider_adSlide__oS6sM {
        height: 400px
    }

    .slider_adSlider__EJh0T {
        width: 95%
    }

    .slider_mediaPageSlide__zu6Ri {
        height: 200px
    }
}

.artworkblock_thumbNailSlider__5KIY4::-webkit-scrollbar {
    display: none
}

.artworkblock_slider__Gbo9g {
    height: 200px
}

@media (min-width:769px) {
    .artworkblock_thumbNail___47RH {
        margin-bottom: 10px;
        height: 113px;
        width: 129px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px
    }

    .artworkblock_thumbNailSlider__5KIY4 {
        height: 320px;
        overflow-y: scroll
    }
}

@media (max-width:768px) {
    .artworkblock_thumbNailSlider__5KIY4 {
        display: none
    }
}

.mediaOption_card__EZHXo {
    width: 100% !important;
    height: auto;
    position: relative;
    box-shadow: -1px 1px 12px 2px rgba(0, 0, 0, .16);
    border-radius: 8px;
    -moz-box-shadow: -1px 1px 12px 2px rgba(0, 0, 0, .16);
    -webkit-box-shadow: -1px 1px 12px 2px rgba(0, 0, 0, .16)
}

.mediaOption_bookmarkRibbon__EZBa_ {
    top: 20px;
    left: 0;
    width: 105px;
    height: 0;
    z-index: 999;
    position: absolute;
    border-top: 17px solid;
    border-bottom: 17px solid;
    font-weight: 600;
    border-right: 15px solid transparent;
    margin-bottom: 20px;
    text-transform: uppercase
}

.mediaOption_bookmarkText__tNiAp {
    top: -12px;
    color: #fff;
    right: 0;
    position: relative;
    font-size: 14px;
    text-align: center
}

.mediaOption_slider__oCwwx {
    height: 200px;
    position: relative;
    text-align: center
}

.mediaOption_darkColor__JxhUE {
    color: #1d1934
}

.mediaOption_pricingBox__f6BmF {
    border: 1px solid #f4f4f5;
    padding: 10px;
    margin-right: 6px;
    border-radius: 5px
}

.mediaOption_rates__Ksfmg {
    color: #1d1934;
    font-size: 16px;
    font-weight: 400 !important
}

.mediaOption_rateUnits__ZKww7 {
    font-size: 12px;
    font-weight: 400;
    color: #1d1934
}

.mediaOption_discountIcon__kESmx {
    color: #57b97f !important;
    font-size: 16px;
    vertical-align: text-top
}

.mediaOption_loginText__xT_4V {
    color: #4e3bc9;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase
}

.mediaOption_description__jGTGH {
    color: #1d1934;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.mediaOption_mediaOptionCardBtn__lzp2V {
    display: flex;
    padding: 9px 5px;
    font-size: 12px;
    align-items: center;
    font-weight: 400 !important;
    line-height: 1.75;
    text-transform: uppercase
}

@media (max-width:960px) {
    .mediaOption_pricingBox__f6BmF {
        width: 42%
    }

    .mediaOption_mediaOptionCardBtn__lzp2V {
        font-size: 11px
    }

    .mediaOption_bookmarkText__tNiAp {
        top: -10px;
        right: 0
    }
}

@media screen and (min-width:961px) and (max-width:1024px) {
    .mediaOption_pricingBox__f6BmF {
        width: 40%
    }
}

@media (min-width:1025px) {
    .mediaOption_pricingBox__f6BmF {
        width: 50%
    }
}

@media (min-width:961px) {

    .mediaOption_rateUnits__ZKww7,
    .mediaOption_rates__Ksfmg {
        font-size: 14px
    }

    .mediaOption_loginText__xT_4V {
        font-size: 16px
    }
}

.supplements_img__3zVR6 {
    position: relative;
    margin-bottom: 5px
}

.supplements_img__3zVR6>span {
    position: unset !important
}

.supplements_img__3zVR6 {
    width: 180px !important;
    height: 80px !important;
    max-width: 180px !important;
    min-width: 180px !important;
    max-height: 80px !important;
    min-height: 80px !important;
    position: relative !important;
    margin: initial !important
}

.supplements_title__Dv_6h {
    font-weight: 500;
    margin-bottom: 10px
}

.supplements_grid__RgGIA {
    margin-bottom: 20px
}

.supplements_grid__RgGIA a {
    color: #1d1934;
    text-decoration: none !important
}

@media (max-width:960px) {

    .supplements_img__3zVR6,
    .supplements_img__3zVR6 img {
        max-width: 100% !important;
        height: 40px !important
    }

    .supplements_img__3zVR6 img {
        width: 100% !important;
        min-width: 100% !important;
        max-height: 40px !important;
        min-height: 40px !important;
        position: relative !important;
        margin: initial !important
    }

    .supplements_title__Dv_6h {
        margin-bottom: 0
    }
}

.cardList_cardImg__SESXa {
    position: relative
}

.cardList_cardImg__SESXa>span {
    position: unset !important
}

.cardList_cardImg__SESXa {
    width: 100px !important;
    height: 75px !important;
    border-radius: 8px;
    max-width: 100px !important;
    min-width: 100px !important;
    max-height: 75px !important;
    min-height: 75px !important;
    position: relative !important;
    margin: initial !important
}

.cardList_mediaGrid__Ptx7a a {
    text-decoration: none;
    color: #000;
    overflow: hidden
}

.rjList_rjImg__Hbisl {
    width: 100px !important;
    height: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
    position: relative
}

.rjList_rjImg__Hbisl>span {
    position: unset !important
}

.rjList_rjImg__Hbisl {
    border-radius: 8px
}

.rjList_socialIcon__DgRPg {
    width: 28px;
    padding: 0 5px
}

.gradientNumbers_number__elry6 {
    font-weight: 800;
    border-image-source: linear-gradient(270deg, #4e3bc9, #b4dfff);
    background: -webkit-linear-gradient(270deg, #6dbef9, #4e3bc9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px #4E3BC9);
    font-size: 47px
}

@media (max-width:960px) {
    .gradientNumbers_number__elry6 {
        font-size: 38px !important
    }
}

.imageList_indexNum__Y0boT {
    background: linear-gradient(180deg, #6dbef9, #4e3bc9);
    width: 35.43px;
    height: 60.09px
}

.imageList_imgBox__YZjTk {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%
}

.imageList_imgBox__YZjTk>span {
    position: unset !important
}

.imageList_img__OJ6s5 {
    border-radius: 8px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important
}

.imageList_rating__ULkCR {
    position: absolute;
    left: 10px;
    bottom: 5px
}

@media (max-width:960px) {
    .imageList_rating__ULkCR {
        bottom: 2px
    }
}

.oneDimension_box__SXCee {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0 !important;
    width: 100%;
    height: 99px;
    overflow-y: scroll;
    padding: 0 10px 0 0
}

.oneDimension_box__SXCee::-webkit-scrollbar {
    width: 3px
}

.oneDimension_box__SXCee::-webkit-scrollbar-thumb {
    background: #a5a3ae;
    border-radius: 4px
}

.oneDimension_iconText__6F_vT {
    display: flex;
    align-items: center
}

.oneDimension_firstDiv__pKeXk {
    flex: 1 1 auto;
    width: 100%;
    height: 10px;
    border-radius: 8px 0 0 8px;
    background-color: #4e3bc9
}

.oneDimension_secondDiv__RPwMm {
    width: 100%;
    height: 10px;
    border-radius: 0 8px 8px 0;
    background-color: #57b97f
}

.oneDimension_percentageDiv__Krok6 {
    background-color: #a5a3ae;
    width: 100%;
    border-radius: 4px;
    height: 10px
}

.oneDimension_borderGrid__LU1F1 {
    position: relative;
    max-width: 6%
}

.oneDimension_centerBorder__lQF34 {
    border-left: 1px solid #f4f4f5;
    height: 50px;
    left: 50%;
    margin-left: -3px
}

@media (max-width:960px) {
    .oneDimension_box__SXCee {
        height: auto;
        margin: 10px 0 !important;
        padding: 0 10px 10px 0
    }
}

.twoDimensional_box__jtD26 {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 12px;
    border-radius: 8px;
    height: 200px
}

.twoDimensional_divider__YMzND {
    margin-top: 7px;
    background-color: #f4f4f5;
    border-color: #f4f4f5
}

.twoDimensional_reachValue__PYevp {
    margin: 0 10px;
    cursor: pointer;
    color: #1d1934
}

.twoDimensional_reachValueSelected__TD5i8 {
    margin: 0 10px;
    cursor: pointer;
    color: #4e3bc9;
    font-weight: 500
}

.twoDimensional_reachName__tjpiQ {
    color: #1d1934;
    text-align: end
}

.twoDimensional_valuePercent__8TVi_ {
    background: linear-gradient(270deg, #4e3bc9, #499fde);
    border-radius: 0 15px 15px 0;
    width: 100%;
    height: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: .4s linear
}

.twoDimensional_progressBar__14zR6 {
    background: #f4f4f5;
    width: 100%;
    height: 10px;
    border-radius: 15px
}

.twoDimensional_statsSection__oTelR {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 130px
}

.twoDimensional_statsSection__oTelR::-webkit-scrollbar {
    width: 3px
}

.twoDimensional_statsSection__oTelR::-webkit-scrollbar-thumb {
    background: #a5a3ae;
    border-radius: 4px
}

@media (max-width:960px) {
    .twoDimensional_box__jtD26 {
        margin-top: -10px
    }
}

.mediaDemographics_mediaDemographicsBox__QdIkI {
    position: relative;
    margin-top: 50px;
    border-radius: 0;
    background-color: #f2f4f9
}

.mediaDemographics_topBar__T_Afq {
    padding: 15px 25px;
    background: #4e3bc9;
    border-radius: 16px 16px 0 0
}

.mediaDemographics_bottomBar__9JgG1 {
    width: 100%;
    padding: 5px 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #4e3bc9;
    border-radius: 16px 16px 0 0
}

.mediaDemographics_demographicTitle__aWn6p {
    color: #fff
}

.mediaDemographics_middleBox__t1M68 {
    height: 100%;
    padding-bottom: 15px
}

.mediaDemographics_topAdvertisers__INJBj {
    margin-top: 10px
}

.mediaDemographics_mediaBox___Ya5Q {
    background: linear-gradient(270deg, #499fde, rgba(73, 159, 222, .8) 97.11%);
    border-radius: 4px 4px 24px 4px;
    padding: 10px 15px
}

.mediaDemographics_mediaTitle__3_JR1 {
    color: #fff;
    font-weight: 500
}

.mediaDemographics_mediaGrid__jj8Jg {
    max-width: 20% !important;
    flex-basis: 20% !important;
    position: relative
}

.mediaDemographics_mediaGrid__jj8Jg a {
    text-decoration: none !important
}

.mediaDemographics_rating__hm212 {
    position: absolute;
    top: 8px;
    left: -20px
}

.mediaDemographics_doubleDigitRating__Ci1fT {
    position: absolute;
    top: 7px;
    left: -3.57em
}

.mediaDemographics_container__NN26e {
    padding: 15px
}

.mediaDemographics_container__NN26e>.mediaDemographics_MuiGrid-item__Hefjx {
    padding: 15px 32px
}

.mediaDemographics_textListBox__9zNXR {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px
}

.mediaDemographics_cardBox__lvORp {
    width: 95%;
    margin: 0 auto
}

.mediaDemographics_textListDiv__hfKGV {
    margin-bottom: 10px
}

@media (max-width:960px) {
    .mediaDemographics_mediaBox___Ya5Q {
        padding: 6px 12px 6px 17px
    }

    .mediaDemographics_mediaGrid__jj8Jg {
        max-width: 50% !important;
        flex-basis: 50% !important
    }

    .mediaDemographics_rating__hm212 {
        top: 4px;
        left: -10px
    }

    .mediaDemographics_doubleDigitRating__Ci1fT {
        top: 4px;
        left: -2.23em
    }

    .mediaDemographics_container__NN26e {
        padding: 20px 0 0
    }

    .mediaDemographics_container__NN26e>.mediaDemographics_MuiGrid-item__Hefjx {
        padding: 10px 18px
    }

    .mediaDemographics_textListBox__9zNXR {
        width: 90%
    }

    .mediaDemographics_cardBox__lvORp {
        width: 90%;
        margin-bottom: 10px
    }

    .mediaDemographics_textListDiv__hfKGV {
        margin-bottom: 30px
    }
}

.BackgroundCircle_bgCircle__YV_nF {
    width: 1px;
    height: 1px;
    margin: 3em;
    padding: 100%;
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, .3), 0 0 0 60px hsla(0, 0%, 100%, .2), 0 0 0 100px hsla(0, 0%, 100%, .1);
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, .5)
}

@media screen and (min-width:0px) and (max-width:767px) {
    .BackgroundCircle_bgCircle__YV_nF {
        padding: 50%;
        box-shadow: 0 0 0 20px hsla(0, 0%, 100%, .3), 0 0 0 50px hsla(0, 0%, 100%, .2), 0 0 0 70px hsla(0, 0%, 100%, .1)
    }
}

.LearnMoreBlock_container__Wl4Ug {
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    position: relative
}

.LearnMoreBlock_learnMoreBtn__RHujr {
    color: #fff;
    background-color: #1d1934;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 16px;
    line-height: 1.75
}

.LearnMoreBlock_girlImgContainer__3CGrZ {
    position: relative
}

.LearnMoreBlock_circle__B8EJX {
    position: absolute
}

@media (max-width:767px) {
    .LearnMoreBlock_container__Wl4Ug {
        padding: 0 15px
    }

    .LearnMoreBlock_girlImgContainer__3CGrZ {
        height: 200px;
        width: 125px
    }

    .LearnMoreBlock_description__96shm {
        font-size: 12px;
        font-weight: 400
    }

    .LearnMoreBlock_learnMoreBtn__RHujr {
        font-size: 12;
        font-weight: 400
    }

    .LearnMoreBlock_circle__B8EJX {
        display: none
    }
}

@media (min-width:768px) {
    .LearnMoreBlock_container__Wl4Ug {
        margin: 60px 0 50px;
        padding: 0 30px
    }

    .LearnMoreBlock_girlImgContainer__3CGrZ {
        height: 300px;
        width: 200px
    }

    .LearnMoreBlock_circle__B8EJX {
        top: 4%;
        left: -40%
    }
}

.sections_contentSection__zr7nD a {
    color: #4e3bc9;
    text-decoration: underline
}

.sections_contentSection__zr7nD {
    overflow: hidden
}

.sections_contentSection__zr7nD img {
    max-width: 100%
}

.relatedMedias_slide__mnrtp {
    margin: 0 10px;
    text-align: left;
    transition: transform .5s;
    overflow: hidden;
    border-radius: 4px
}

.relatedMedias_slideImg__cF_mC {
    width: 100%;
    height: 80px;
    position: relative
}

.relatedMedias_slideImg__cF_mC>span {
    position: unset !important
}

.relatedMedias_slideImg__cF_mC {
    min-width: 210px !important;
    max-width: 210px !important;
    min-height: 70px !important;
    max-height: 70px !important;
    width: 210px !important;
    height: 70px !important;
    border-radius: 4px;
    margin: initial !important;
    border: 1px solid #000 !important;
    z-index: 1;
    margin-bottom: 0 !important
}

.relatedMedias_sliderBlock__xwQQn a {
    text-decoration: none;
    color: #000
}

@media (max-width:960px) {
    .relatedMedias_slideImg__cF_mC {
        min-width: 95% !important;
        max-width: 95% !important
    }

    .relatedMedias_sliderBlock__xwQQn {
        width: 55%
    }
}

.mediaPage_imgContainer__yM1Z9 {
    background-color: #4e3bc9;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 13px 10px 10px
}

.mediaPage_mediaImg__yQJG1>span {
    position: unset !important
}

.mediaPage_mediaImg__yQJG1 {
    width: 90% !important;
    height: 150px !important;
    max-width: 90% !important;
    min-width: 90% !important;
    max-height: 150px !important;
    min-height: 150px !important;
    position: relative !important;
    margin: initial !important;
    border-radius: 4px
}

.mediaPage_borderGrid__H2ZA_ {
    position: relative;
    max-width: 6%
}

.mediaPage_centerBorder__icjko {
    border-left: 1px solid #fff;
    opacity: .1;
    height: 100%;
    position: absolute;
    left: 50%
}

.mediaPage_textElipse__HAyh2 {
    color: #fff !important;
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important
}

.mediaPage_mediaOptionCard__EW2I2 {
    padding: 20px
}

.mediaPage_mediaTitle__nInW_ {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.92px
}

@media (max-width:960px) {
    .mediaPage_imgContainer__yM1Z9 {
        padding: 0 10px
    }

    .mediaPage_mediaImg__yQJG1 {
        width: 100% !important;
        height: 90px !important;
        max-width: 100% !important;
        min-width: 100% !important;
        max-height: 90px !important;
        min-height: 90px !important;
        border-radius: 4px
    }

    .mediaPage_borderGrid__H2ZA_ {
        display: none;
        padding: 0 !important
    }

    .mediaPage_mediaOptionCard__EW2I2 {
        padding: 20px 0
    }

    .mediaPage_mediaTitle__nInW_ {
        font-size: 20px;
        font-weight: 700;
        line-height: 23.7px
    }
}